tb_dwc
tb_dwc_pytest
ref_plain/proj/
*.log
final_sweep.txt
optimized_downscale.txt
upscale_fixed.txt
new_sweep.txt
nonmult_v2.txt
nonmult_v3.txt
nonmult_v4.txt
nonmult_v5.txt
ref_gen/proj/
*_run.log
ref_lcm/proj/
ref_rtl/.Xil/
ref_rtl/*.jou
ref_rtl/*.log
plotdata_run.log
plot3_run.log
vivado_run.log
vplotdata_run.log
ref_vpc/work/
ref_vpc/simwork/
